.filterContainer {
  width: 480px;
  padding: 20px;
}

.filterLabel {
  margin-bottom: 10px;
  font-size: 20px;
}

.filterInput {
  width: 460px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.filterInput:hover,
.filterInput:focus {
  border: 1px solid blue;
}
